// --- CLOCK ---
IO_LOC  "clk" E2;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

// --- RESET ---
IO_LOC "rst" H10;
IO_PORT "rst" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

// --- UART TX ---
IO_LOC "tx" C3;
IO_PORT "tx" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;